body {
    background-color: #000055;
}

#headerHYP {
    color: #666;
}

.gray {
    color: #888;
}

div.mainrow {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    padding: 1em;
    background-color: #ffffff;
}

div.mainrowsub {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    padding: 1em;
    background-color: #ffffff;
}

div#news {
    height: 1em;
}
div.newsitem {
    overflow: hidden;
    white-space: nowrap;
}

div#news:hover {
    cursor: pointer;
}

div#header span {
    font-size: 500%;
    font-style: italic;
    font-family: sans-serif;
    font-weight: bold;
}

div#menu li {
    list-style: none;
    display: inline;
    padding: 0 2em 0 2em;
}
div#menu li:hover {
    background-color: #000000;
    color: #ffffff;
}
div#menu a {
    text-decoration: none;
    color: #000000;
}
div#menu a:hover {
    color: #ffffff;
}

div#timerow {
    height: 1.5em;
}
div#clock {
    float: right;
}
div#tzselect {
    float: left;
}
div#catselect {
    float: left;
    margin-left: 1em;
}


tr.eventoverview {
    cursor: pointer;
}

tr.eventdesc {
    display: none;
}
tr.eventhgurl {
    display: none;
}
tr.eventcats {
    display: none;
}
td.eventhgurl {
    padding: 1em;
    border-left: 1px solid black;
}
tr.eventhgurl div {
    display: inline;
}
input.hgurl {
    border: 1px solid black;
    padding: 0.2em;
    background: #fff;
    color: #000;
    cursor: pointer;
    width: 25em;
    text-align: center;
}
td.eventcats {
    border-left: 1px solid black;
    padding: 0.2em;
}
td.eventdesc {
    border-left: 1px solid black;
    padding-left: 1em;
}

ul#eventcats li {
    display: inline;
    list-style: none;
    padding: 0.2em;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

td.eventdate {
    width: 7em;
    color: #888;
}
td.eventdatehi {
    color: #000;
}
td.eventtime {
    width: 13em;
}
td.eventtitle {
    vertical-align: top;
}


span.eventon {
    display: none;
}
span.eventoff {
    display: inline;
}
span.eventtitle {
    font-weight: bold;
}
span.eventgridname {
    font-size: 0.8em;
    color: #00f;
    font-style: italic;
}
